.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__info>button{
    background: var(--color-addToBasket-bg);
    border: 1px solid ;
    margin-top: 10px;
    border-color: var(--color-addToBasket-border);
    color: #111;
    padding: 2px;
}